* {
  margin: 0;
  box-sizing: border-box;
}

main img {
  width: 100%;
}

/* vignette */

.rating {
  display: inline-block;
  font-size: 24px;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
}

.rating label::before {
  content: '\2605'; /* étoile pleine en unicode */
  color: #ddd;
  font-size: 24px;
}

.rating input:checked ~ label::before {
  color: gold;
}

.vignette-film h1 {
  font-size: 64px;
  color: #89404F;
  font-family: 'Cinzel', serif;
  font-family: 'Paytone One', sans-serif;
  font-weight: 100;
}

.vignette-film svg {
  color: #89404F;
}

.vignette-film p {
  line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
  margin-bottom: 10px;
  max-width: 600px;
}

/* */

.haut-cine {
  position: relative;
  height: 550px;
}

.haut-cine img {
  height: 550px;
  display: block;
  object-fit: cover;
  filter: grayscale(100%);
}

.vignette-film {
  position: absolute;
  float: left;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.haut-cine::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.accueil-cine {
  display: flex;
  align-items: center;
  text-align: left;
}

.accueil-cine img {
  margin-right: 100px;
}

.acc-cine {
  flex: 1;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

.acc-bar {
  flex: 1;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

.acc-cine p {
  margin-top: 20px;
  font-size: 24px;
}

.acc-bar p {
  margin-top: 20px;
  font-size: 24px;
}

.acc-cine h1 {
  font-size: 2.5em;
}

.img-container {
  max-width: 45%;
  margin: 10px;
}

.img-bar {
  max-width: 45%;
}

.accueil-cine img {
  width: 500px;
  height: 600px;
}

.accueil-bar img {
  width: 600px;
  height: 600px;
  margin-left: 100px;
}

.accueil-bar {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 10px;
  position: relative;
}

.acc-bar h1 {
  font-size: 2.5em;
}

.accueil-cine,
.accueil-bar {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* */

.boite3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.titre-boite3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.boite3 img {
  width: 265px;
  height: 365px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 3px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.boite3 img:hover {
  transform: scale(1.05);
}

.titre-boite3 h1 {
  position: absolute;
  top: 40px;
  left: 156px;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.titre-boite3 a {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #89404F;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.titre-boite3 a:hover {
  background-color: #ad5164;
}

.carousel-container h1 {
  position: absolute;
  text-align: left;
  margin: 0px;
  top: 15px;
  left: 20px;
  font-size: 17px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.img-carrousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.img-carrousel img {
  width: 150px;
  height: 220px;
  margin: 50px 5px;
  transition: transform 0.3s ease-in-out;
  border-radius: 3px;
}

.img-carrousel img:hover {
  transform: scale(1.05);
}

.arrow {
  font-size: 24px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-prev {
  left: 10px;
}

.arrow-next {
  right: 10px;
}

/* Ajoutez ces styles pour positionner la nouvelle flèche de navigation vers la gauche */
.arrow-prev-second {
  left: 40px;
}

@media screen and (max-width: 1180px) {
  .vignette-film {
    display: none;
  }

  .img-container, .img-bar img {
    display: none;
  }

  .acc-cine, .acc-bar {
    margin-left: auto;
    margin-right: auto;
  }

  .boite3 {
    display: flex;
    flex-direction: column;
  }

  .titre-boite3 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

