.choix {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 500px;
}

.ticket-buttons {
  text-align: center;
  margin-top: 20px;
}
  
.ticket-buttons a {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #89404F; 
  color: #fff; 
  border: none;
  border-radius: 8px;
  margin: 0 10px;
  text-decoration: none;
}
  
.ticket-buttons a:hover {
  background-color: #66303a;
}