.description-bar-cine, .sav-plus, .menu-bar {
  margin-left: 30px;
}

.haut-cine img {
    width: 100%;
}
  
.haut-cine {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}
  
.haut-cine::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
  
.haut-cine img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.desc-bar-cine {
  margin-top: 50px;
}

.menu-bar {
  margin-top: 50px;
}
  
.bouton-cinebar {
  background-color: #89404F;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
}
  
.bouton-cinebar a {
  margin: auto;
  text-decoration: none;
  color: white;
}
  
.sav-plus {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
  
.menu ul {
  margin-left: 50px;
  margin-top: 20px;
}

main img {
  width: 500px;
}

.description-bar-cine {
  max-width: 1000px;
  padding: 10px;
  text-align: center;
}

.description-bar-cine h1 {
  border-bottom: 3px solid #89404F;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.desc-bar-cine {
  max-width: 800px;
  margin: 0 auto;
}

.desc-bar-cine p {
  font-family: 'Manrope', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

.illu img {
	width : 500px;
	height : 325px;
	
	margin-bottom: 20px;
	border-radius: 10px;
	
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

ul {
  list-style: none;
  column-count: 2;
  column-gap: 20px;
}

.menu {
  margin-top: 100px;
  display: block;
  text-align: center;
  max-width: 100%;
  height: 325px;
}

.menu-list {
  margin: 0 auto;
}

.menu h1 {
  display: inline-flex;
  border-bottom: 3px solid #89404F;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: white;
}

/* aside */ 

.aside-droite {
  display: block;
  float: right; /* Ajoutez la propriété float: right; */
  width: 30%; /* Définissez la largeur souhaitée */
  margin-left: 20px; /* Ajoutez une marge à gauche pour l'espacement */
}

.aside-list {
  text-decoration: underline;
  text-decoration-color: #89404F;
  text-decoration-thickness: 2px;
  color: white;
}

.icon {
  display: inline-flex;
  height: 15px;
  width: 15px;
  justify-content: center;
  margin-right: 15px;
  fill: white;
}

.block-aside h2 {
  margin-bottom: 20px;
  border-left: 2px solid #89404F;
  letter-spacing: 1.5px;
  padding: 10px 20px;
}

.block-aside {
  margin-bottom: 50px;
}

/* theme */

body.light-mode .desc-bar-cine p {
  color: black;
}

body.light-mode .sav-plus h2 {
  color: black;
}

body.light-mode .block-aside h2 {
  color: black;
}

body.light-mode .menu-list li {
  color: black;
}

body.light-mode .menu h1 {
  color: black;
}

body.dark-mode .block-aside h2 {
  color: white;
}

/* responsive */

/* Tablettes en mode portrait et paysage */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .menu-bar,
  .desc-bar-cine,
  .sav-plus {
      margin-left: 10px;
  }

  .haut-cine img {
      margin-bottom: 20px;
  }

  main img {
      width: 100%;
  }

  aside {
      display: none !important;
  }
}

/* Smartphones en mode portrait et paysage */
@media screen and (max-width: 600px) {
  .menu-bar,
  .desc-bar-cine,
  .sav-plus {
      margin-left: 5px;
  }

  .haut-cine img {
      margin-bottom: 10px;
  }

  main img {
      width: 100%;
  }

  aside {
      display: none !important;
  }
}

