body {
    font-family: 'Arial', sans-serif;
    background-color: #1E1E1E;
    color: #ffffff; /* Couleur du texte */
    margin: 0;
    padding: 0;
}

.container-films {
    display: flex;
    max-width: 1000px;
    height: 350px;
    margin: 20px auto;
    color: #ffffff; /* Couleur du texte */
    padding: 20px;
    border-radius: 10px;
}

.container-films h1 {
    margin-bottom: 20px;
    color: #89404F;
    font-size: 48px;
}

.container-films img {
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
}

.container-films .info {
    flex: 1;
}

.container-films h2 {
    color: #ffffff; /* Couleur du texte */
}

.container-films p {
    color: #ffffff; /* Couleur du texte */
    line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
    margin-bottom: 10px;
}

.container-films div {
    margin-bottom: 10px;
}

.info {
    height: 450px;
    margin-left: 20px;
}

.container-films::after {
    content: "";
    display: table;
    clear: both;
}

svg {
    color: #89404F;
}

.real {
    margin-top: 20px;
}

div h3 {
    display: inline-flex;
}

/* note */

.note-cursor {
    width: 800px;
    height: auto;
    margin: auto;
    padding: 50px;
}

.note-cursor h2 {
    float: left;
    color: gold;
}

.note-cursor input, .note-cursor span {
    float: right;
}

/* theme */

.light-mode .real {
    color: black;
}

.light-mode form input {
    border: solid 2px black;
}

.light-mode form select {
    height: auto;
    border: solid 2px black;
}

.light-mode .valeur-volume {
    color: black;
}