body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container-films {
    display: flex;
    max-width: 800px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.container-films h1 {
    margin-bottom: 20px;
    color: #89404F;
    font-size: 48px;
}

.container-films img {
    width: 300px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
}

.container-films .info {
    flex: 1;
}

.container-films p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.container-films div {
    margin-bottom: 10px;
}

.info {
    height: 450px;
    margin-left: 20px;
}

.container-films::after {
    content: "";
    display: table;
    clear: both;
}

svg {
    color: #89404F;
}

.real {
    margin-top: 20px;
}

div h3 {
    display: inline-flex;
}

/* note */

.note-cursor {
    width: 800px;
    height: auto;
    margin: auto;
    padding: 50px;
}

.note-cursor h2 {
    float: left;
    color: gold;
}

.note-cursor input, .note-cursor span {
    float: right;
}

.note h1, .reservation h1 {
    text-decoration: underline;
    text-decoration-color: #89404F;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
.note {
    text-align: center;
    margin-bottom: 50px;
}

/* reservation */

.reservation {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.projections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    max-width: 1325px;
    margin: auto;
    margin-top: 50px;
}
  
.proj {
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #89404F;
    margin-bottom: 50px;
    overflow: hidden;
    width: 375px;
    padding: 20px;
}

.proj a {
    text-decoration: none;
    color: white;
}