body, h1, h2, h3, h4, p, figure, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

.film a {
  text-decoration: none;
}

.vedette-section {
  margin-top: 50px;
}

.vedette {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  background-color: #89404F;
  border-radius: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.illu {
  float: left;
  margin-left: 20px;
}

.illu img {
  width: 500px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.details {
  overflow: hidden;
}

.details div {
  margin-bottom: 10px;
  margin-left: 20px;
}

.details h2, h4, p {
  margin-left: 20px;
}

.details h4 {
  margin-bottom: 20px;
}

.details p {
  margin-bottom: 20px;
}

.cast {
  margin-top: 20px;
  clear: both;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #89404F;
}

/* Styles pour la section films-container */
.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.film {
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #89404F;
  margin-bottom: 100px;
  overflow: hidden;
  width: 200px;
}

.film img {
  width: 200px;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
}

.film-info {
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  overflow: hidden; /* Cache le texte dépassant la boîte */
  text-overflow: ellipsis; /* Affiche des points de suspension (...) pour indiquer le texte coupé */
}

.film p {
  max-width: 200px;
  max-height: 50px;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: white;
}

.films-title h1 {
  margin-top: 50px;
}

.small-text {
  font-size: 12px;
}

/* Styles pour la section events */
.events-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1250px;
  margin: auto;
}

.event {
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #89404F;
  margin-bottom: 100px;
  overflow: hidden;
}

.event img {
  width: 360px;
  height: 215px;
  border-radius: 4px;
  object-fit: cover;
}

.event p {
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  overflow: hidden; /* Cache le texte dépassant la boîte */
  text-overflow: ellipsis; /* Affiche des points de suspension (...) pour indiquer le texte coupé */
  max-width: 100%;
  max-height: 100px;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: white;
}

.event a {
  text-decoration: none;
}

/* theme */

.light-mode .details h2, h4, p {
  color: white !important;
}