.salles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.salles div {
  flex: 0 0 auto; /* Ajustez la propriété flex en fonction de vos besoins */
  width: 250px; /* Ajustez la largeur en fonction de vos besoins */
  margin: 10px; /* Ajustez la marge entre les éléments en fonction de vos besoins */
  padding: 100px 30px;
  border-radius: 24px;
  border: 1px solid #FFF;
  background: rgb(46, 46, 46);
  height: 500px;
  width: 250px;
}

.salles ul {
  margin-top: 30px;
  margin-bottom: 100px;
  height: 75px;
  width: 188px;
}

.salles a {
  background-color: #89404F;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.salles a:hover {
  background-color: #4c232b;
}

.salles p {
  display: flex;
  justify-content: center;
}

.salles div:hover {
  background-color: #2C1D1D;
}

.salles h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 70px;
  max-width: 1250px;
  margin: auto;
}

form input[type="text"],
form input[type="mail"],
form input[type="date"],
form input[type="number"],
form select {
  width: 100%;
  padding: 8px;
  background-color: #D9D9D9;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

form h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.type-event div,
.choix-salles div,
.equip div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.comm textarea {
  width: 100%;
  height: 200px;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin-top: 20px;
}

.comm {
  margin-top: 100px;
  grid-column: span 2;
}

button {
  background-color: #89404F;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  border: none;
}

button:hover {
  background-color: #4c232b;
}

.reserv {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 200px;
}

.ajouter {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 70px;
}

.ajouter button {
  width: auto;
  height: 40px;
  font-size: 1em;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.admin-section {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1250px;
  margin: auto;
}

.admin-section h1 {
  margin-bottom: 70px;
  margin-top: 20px;
}

.admin-section + .admin-section {
  margin-top: 20px;
}

.intro-text {
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
  line-height: 1.5;
}

.admin-section h2 {
  margin-bottom: 20px;
}

.sele-moment {
  width: 100px;
  height: 45px;
}

.file-input {
  display: inline-block;
  margin: auto;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #89404F;
  border-radius: 10px;
  width: 25%;
  text-align: center;
}

.file-input:hover {
  background-color: #b15366;
}

.file-input input[type="file"] {
  display: none;
}

/* select2 */

/* Styliser le Select2 des genres avec le style fourni */
.select2-container--default .select2-selection--single {
  width: 100%;
  padding: 8px;
  background-color: #D9D9D9;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

/* Styliser l'élément de sélection réel dans le Select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333; /* Couleur du texte */
  line-height: 1.5; /* Hauteur de ligne */
}

/* Styliser la flèche déroulante dans le Select2 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%; /* Aligner au centre verticalement */
  transform: translateY(-50%);
}

/* Styliser la liste déroulante dans le Select2 */
.select2-container--default .select2-dropdown {
  border: none; /* Supprimer la bordure de la liste déroulante */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styliser les options de la liste déroulante dans le Select2 */
.select2-container--default .select2-results__option {
  padding: 8px; /* Espacement interne */
  color: #333; /* Couleur du texte */
}

/* Styliser l'option sélectionnée dans le Select2 */
.select2-container--default .select2-results__option--highlighted {
  background-color: #007bff; /* Couleur de surbrillance */
  color: #fff; /* Couleur du texte en surbrillance */
}

/* Styliser les tags dans le mode "tags" du Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff; /* Couleur de fond des tags */
  color: #fff; /* Couleur du texte des tags */
}

/* Styliser le champ de recherche dans le mode "tags" du Select2 */
.select2-container--default .select2-search__field {
  width: 100%; /* Largeur du champ de recherche */
  box-sizing: border-box; /* Inclure la bordure et le rembourrage dans la largeur */
  border: none; /* Supprimer la bordure du champ de recherche */
  border-radius: 10px; /* Coins arrondis */
}

/* Ajouter une bordure au champ de recherche pour plus de visibilité */
.select2-container--default .select2-search--inline .select2-search__field {
  padding: 8px; /* Espacement interne du champ de recherche en mode "tags" */
  background-color: #D9D9D9; /* Couleur de fond du champ de recherche en mode "tags" */
}

/* theme */ 

.light-mode .salles h2 {
  color: white !important;
}